@page {
 size: 8.5in 11in; /* letter size */
 margin: 0.25in 0.5in 0.25in 0.5in; /* 0.25in margin top/bottom; 0.5in margin sides */
  
  @top-center {
    background-color: #F58B31;
    color: white;
  }
  
  @top-left-corner {
    background-color: #9C867C;
  }
  
  @top-right-corner {
    background-color: #9C867C;
  }
}

@page :first {
 margin-top: 1in;
 @top-center {
  content: "The Future of Book Publishing Lies in Your Web Browser\000ASanders Kleinfeld";
  display: block;
  text-align: center;
  font-size: 24pt;
  font-family: Lato;
  font-weight: bold;
 }
}
  
  section[data-type="chapter"] h1 {
   string-set: ChapterTitle;
  }
