@page {
 size: 8.5in 11in; /* letter size */
 margin: 0.25in 0.75in 0.25in 0.75in; /* 0.25in margin top/bottom; 0.5in margin sides */
  
  @top-center {
    background-color: #F58B31;
    color: white;
    content: string(SectTitle, first);
    font-family: Lato;
    font-weight: bold;
  }
  
  @top-left-corner {
    background-color: #9C867C;
  }
  
  @top-right-corner {
    background-color: #9C867C;
  }
}

@page :first {
 margin-top: 0.1in;
 @top-center {
  background-color: white;
  content: "";
 }
 
  @top-left-corner {
    background-color: white;
  }
  
  @top-right-corner {
    background-color: white;
  }
}

section[data-type="chapter"] header {
 color: #9C867C;
 font-family: Lato;
 text-align: center;
}

section[data-type="chapter"] header h1 {
 font-size: 24pt;
}

section[data-type="chapter"] header h1 {
 font-size: 16pt;
}

  
  section[data-type="sect1"] h1, section[data-type="sect2"] h2 {
   font-family: Lato;
   string-set: SectTitle self;
  }

  section[data-type="sect1"] h1 {
   font-weight: bold;
   font-size: 18pt;
  }
  
  section[data-type="sect2"] h2 {
   font-size: 14pt;
  }
  
 body {
  font-family: MinionPro;
 }
 
 dt {
  color: #F58B31;
 }
